In [1]:
# setup library imports
import io, time, json
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
import re
from datetime import timedelta

In [2]:
def to_datetime(x):
    time_converted = datetime.strptime(x, '%B %d %Y %I:%M %p')
    return time_converted
def hour_rounder(t):
    # Rounds to nearest hour by adding a timedelta hour if minute >= 30
    return (t.replace(second=0, microsecond=0, minute=0, hour=t.hour)
               +timedelta(hours=t.minute//30))

In [3]:
def one_day(url):

    day = requests.get(url)

    soup = BeautifulSoup(day.text, 'html.parser')

    a=soup.find_all('div', attrs={'class':'high-res'})

    date = soup.find_all('h2', attrs={'class':"history-date"})
    date = date[0]
    date = date.text
    try:
        a=a[0]
        rows=[]
        b = a.find_all('tr')

        for i in range(1,len(b)):
            c = b[i].find_all('td')
            rows.append(c)
        e = b[0].find_all('th')
        cols=[]
        for header in e:
            cols.append(header.text)

        weather = pd.DataFrame(columns = ['Time', 'Temp (F)', 'Humidity', 'Wind Speed', 'Condition'])

        data = []
        for k in rows:
            row={}
            time = k[0].text
            time = date+' '+time
            time = re.sub(r'.*day,', '', time)
            time = time.replace(',','')
            time = time[1:]
            try:
                temp = k[1].find('span', attrs={'class':'wx-value'}).text
            except:
                temp = None
            if len(cols)==13:    
                hum = k[4].text
                hum = hum[:-1]
                try:
                    wind_spd = k[8].find('span', attrs={'class':'wx-value'}).text
                except:
                    wind_spd = k[8].text

                cond = k[12].text
            if len(cols)==12:
                hum = k[3].text
                hum = hum[:-1]
                try:
                    wind_spd = k[7].find('span', attrs={'class':'wx-value'}).text
                except:
                    wind_spd = k[7].text

                cond = k[11].text
            row["Time"]=time
            row['Temp (F)']=temp
            row['Humidity']=hum
            row['Wind Speed']=wind_spd
            row["Condition"]=cond
            data.append(row)

        weather = weather.append(data,ignore_index=True)
        try:
            weather['Temp (F)'] = weather['Temp (F)'].astype('float64')
        except:
            pass
        try:
            weather['Humidity'] = weather['Humidity'].astype('float64')
        except:
            pass
        weather['Time'] = weather['Time'].apply(lambda x: hour_rounder((pd.to_datetime(to_datetime(x)))))
        weather = weather.replace(['N/A','\n -\n'], 50.0)
        weather1 = weather.copy()
        #weather1 = weather1.replace(['N/A','\n  -\n'], 0.0)
        weather1['Humidity'] = weather1['Humidity'].astype('float64')
        weather1 = weather1.set_index('Time', drop=True)
        weather1 = weather1.resample('H').mean()
        weather1 = weather1.reset_index()

        n = soup.find_all('div', attrs={'class':'next-link'})
        n=n[0]
        nxt_date = 'https://www.wunderground.com'+n.find('a').get('href')

        return weather, weather1, nxt_date
    except:
        n = soup.find_all('div', attrs={'class':'next-link'})
        n=n[0]
        nxt_date = 'https://www.wunderground.com'+n.find('a').get('href')

        return None, None, nxt_date

In [4]:
result = one_day('https://www.wunderground.com/history/airport/KAGC/2002/1/1/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=')
result

(                  Time  Temp (F)  Humidity Wind Speed         Condition
 0  2002-01-01 01:00:00      18.0      74.0        4.6        Light Snow
 1  2002-01-01 02:00:00      18.0      74.0        8.1        Light Snow
 2  2002-01-01 03:00:00      18.0      74.0        9.2        Light Snow
 3  2002-01-01 04:00:00      17.1      77.0        8.1          Overcast
 4  2002-01-01 05:00:00      16.0      77.0        8.1     Partly Cloudy
 5  2002-01-01 06:00:00      14.0      84.0        8.1  Scattered Clouds
 6  2002-01-01 07:00:00      12.9      84.0        6.9  Scattered Clouds
 7  2002-01-01 08:00:00      12.0      88.0        8.1     Partly Cloudy
 8  2002-01-01 09:00:00      12.9      84.0        9.2     Partly Cloudy
 9  2002-01-01 10:00:00      16.0      74.0        8.1     Partly Cloudy
 10 2002-01-01 11:00:00      18.0      65.0        8.1     Partly Cloudy
 11 2002-01-01 12:00:00      19.9      65.0        8.1     Mostly Cloudy
 12 2002-01-01 13:00:00      21.0      63.0        8.1        Light Snow
 13 2002-01-01 14:00:00      23.0      58.0        6.9  Scattered Clouds
 14 2002-01-01 15:00:00      23.0      60.0        6.9     Mostly Cloudy
 15 2002-01-01 16:00:00      23.0      58.0        6.9     Mostly Cloudy
 16 2002-01-01 17:00:00      21.9      60.0        4.6     Mostly Cloudy
 17 2002-01-01 18:00:00      21.0      63.0        4.6  Scattered Clouds
 18 2002-01-01 19:00:00      19.9      65.0        6.9     Partly Cloudy
 19 2002-01-01 20:00:00      19.0      65.0        8.1     Partly Cloudy
 20 2002-01-01 21:00:00      18.0      68.0        8.1     Mostly Cloudy
 21 2002-01-01 22:00:00      19.0      68.0        6.9     Mostly Cloudy
 22 2002-01-01 23:00:00      17.1      71.0        8.1     Mostly Cloudy
 23 2002-01-02 00:00:00      18.0      71.0        9.2          Overcast,
                   Time  Temp (F)  Humidity
 0  2002-01-01 01:00:00      18.0      74.0
 1  2002-01-01 02:00:00      18.0      74.0
 2  2002-01-01 03:00:00      18.0      74.0
 3  2002-01-01 04:00:00      17.1      77.0
 4  2002-01-01 05:00:00      16.0      77.0
 5  2002-01-01 06:00:00      14.0      84.0
 6  2002-01-01 07:00:00      12.9      84.0
 7  2002-01-01 08:00:00      12.0      88.0
 8  2002-01-01 09:00:00      12.9      84.0
 9  2002-01-01 10:00:00      16.0      74.0
 10 2002-01-01 11:00:00      18.0      65.0
 11 2002-01-01 12:00:00      19.9      65.0
 12 2002-01-01 13:00:00      21.0      63.0
 13 2002-01-01 14:00:00      23.0      58.0
 14 2002-01-01 15:00:00      23.0      60.0
 15 2002-01-01 16:00:00      23.0      58.0
 16 2002-01-01 17:00:00      21.9      60.0
 17 2002-01-01 18:00:00      21.0      63.0
 18 2002-01-01 19:00:00      19.9      65.0
 19 2002-01-01 20:00:00      19.0      65.0
 20 2002-01-01 21:00:00      18.0      68.0
 21 2002-01-01 22:00:00      19.0      68.0
 22 2002-01-01 23:00:00      17.1      71.0
 23 2002-01-02 00:00:00      18.0      71.0,
 'https://www.wunderground.com/history/airport/KAGC/2002/1/2/DailyHistory.html')

In [8]:
def all_days(url, no_of_days):
    list1 = []
    list2= []
    result = one_day(url)
    list1.append(result[0])
    list2.append(result[1])
    for i in range(no_of_days -1):
        if result!=None:
            result = one_day(result[2])
        
            list1.append(result[0])
            list2.append(result[1])
        #print(i+1, 'th day is done')
    weather1 = pd.concat(list1).reset_index(drop=True)
    weather2 = pd.concat(list2).reset_index(drop=True)
    return weather1, weather2
one, two = all_days('https://www.wunderground.com/history/airport/KAGC/2002/1/1/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=',31)

In [217]:
one_year = [1,2,3,4,5,6,7,8,9,10,11,12]
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
Month = list(zip(one_year,days_in_month))
all_months_1 = []
all_months_2 = []
for i in Month:
    url_initial = 'https://www.wunderground.com/history/airport/KAGC/2002/'+str(i[0])+'/1/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo='
    res = all_days(url_initial,i[1])
    all_months_1.append(res[0])
    all_months_2.append(res[1])
    print('Month',i[0],'is done')
all_Months_1 = pd.concat(all_months_1).reset_index(drop=True)
all_Months_2 = pd.concat(all_months_1).reset_index(drop=True)
all_Months_1,all_Months_2

Month 1 is done
Month 2 is done
Month 3 is done
Month 4 is done
Month 5 is done
Month 6 is done
Month 7 is done
Month 8 is done
Month 9 is done
Month 10 is done
Month 11 is done
Month 12 is done

(                     Time  Temp (F) Humidity Wind Speed  \
 0     2002-01-01 01:00:00      36.0       64        6.9
 1     2002-01-01 02:00:00      36.0       57        8.1
 2     2002-01-01 03:00:00      36.0       57        8.1
 3     2002-01-01 04:00:00      36.0       57        5.8
 4     2002-01-01 05:00:00      35.1       61        8.1
 5     2002-01-01 06:00:00      34.0       64        4.6
 6     2002-01-01 07:00:00      35.1       64        6.9
 7     2002-01-01 08:00:00      34.0       64        9.2
 8     2002-01-01 09:00:00      35.1       64        8.1
 9     2002-01-01 10:00:00      37.0       59       10.4
 10    2002-01-01 11:00:00      39.0       55        6.9
 11    2002-01-01 12:00:00      39.0       55        6.9
 12    2002-01-01 13:00:00      39.0       57        5.8
 13    2002-01-01 14:00:00      39.9       58       11.5
 14    2002-01-01 15:00:00      41.0       57        8.1
 15    2002-01-01 16:00:00      39.9       58       11.5
 16    2002-01-01 17:00:00      39.0       53        8.1
 17    2002-01-01 18:00:00      39.0       50        9.2
 18    2002-01-01 19:00:00      35.1       78       11.5
 19    2002-01-01 20:00:00      35.1       82       11.5
 20    2002-01-01 21:00:00      34.0       89       11.5
 21    2002-01-01 22:00:00      33.8       87        9.2
 22    2002-01-01 22:00:00      33.1       92       10.4
 23    2002-01-01 22:00:00      33.8       87        5.8
 24    2002-01-01 23:00:00      33.1       92        6.9
 25    2002-01-02 00:00:00      33.1       92        3.5
 26    2002-01-02 01:00:00      32.0       96        3.5
 27    2002-01-02 02:00:00      32.0       92        6.9
 28    2002-01-02 03:00:00      30.9       96        5.8
 29    2002-01-02 04:00:00      30.9       92        3.5
 ...                   ...       ...      ...        ...
 10869 2002-12-30 22:00:00      55.9       80        6.9
 10870 2002-12-30 23:00:00      57.9       84       10.4
 10871 2002-12-30 23:00:00      55.4       88       12.7
 10872 2002-12-31 00:00:00      55.4       88        9.2
 10873 2002-12-31 00:00:00      55.9       84       11.5
 10874 2002-12-31 01:00:00      55.4       77        9.2
 10875 2002-12-31 01:00:00      55.0       83        8.1
 10876 2002-12-31 02:00:00      51.1       68       11.5
 10877 2002-12-31 03:00:00      50.0       66       10.4
 10878 2002-12-31 04:00:00      48.9       64       10.4
 10879 2002-12-31 05:00:00      48.0       63       16.1
 10880 2002-12-31 06:00:00      48.0       61       12.7
 10881 2002-12-31 07:00:00      46.9       59        9.2
 10882 2002-12-31 08:00:00      46.9       56       10.4
 10883 2002-12-31 09:00:00      48.9       50       15.0
 10884 2002-12-31 10:00:00      52.0       41       11.5
 10885 2002-12-31 11:00:00      55.0       38       12.7
 10886 2002-12-31 12:00:00      59.0       32       10.4
 10887 2002-12-31 13:00:00      62.1       29       10.4
 10888 2002-12-31 14:00:00      64.0       23       13.8
 10889 2002-12-31 15:00:00      64.9       24        9.2
 10890 2002-12-31 16:00:00      64.0       24       10.4
 10891 2002-12-31 17:00:00      62.1       26        8.1
 10892 2002-12-31 18:00:00      57.9       32        4.6
 10893 2002-12-31 19:00:00      54.0       40        3.5
 10894 2002-12-31 20:00:00      51.1       44       Calm
 10895 2002-12-31 21:00:00      50.0       50        4.6
 10896 2002-12-31 22:00:00      46.0       63        3.5
 10897 2002-12-31 23:00:00      43.0       74       Calm
 10898 2003-01-01 00:00:00      43.0       71        3.5

                           Condition
 0                             Clear
 1                             Clear
 2                             Clear
 3                             Clear
 4                     Mostly Cloudy
 5                     Partly Cloudy
 6                          Overcast
 7                     Mostly Cloudy
 8                          Overcast
 9                          Overcast
 10                         Overcast
 11                         Overcast
 12                         Overcast
 13                         Overcast
 14                         Overcast
 15                         Overcast
 16                         Overcast
 17                         Overcast
 18                         Overcast
 19                         Overcast
 20                         Overcast
 21                         Overcast
 22                    Mostly Cloudy
 23                         Overcast
 24                         Overcast
 25                         Overcast
 26                         Overcast
 27                         Overcast
 28                            Clear
 29                    Partly Cloudy
 ...                             ...
 10869                      Overcast
 10870                    Light Rain
 10871  Light Thunderstorms and Rain
 10872                    Light Rain
 10873                 Mostly Cloudy
 10874                         Clear
 10875                 Partly Cloudy
 10876                         Clear
 10877              Scattered Clouds
 10878                         Clear
 10879                         Clear
 10880                         Clear
 10881                         Clear
 10882                         Clear
 10883                         Clear
 10884                         Clear
 10885                         Clear
 10886                         Clear
 10887                         Clear
 10888                         Clear
 10889                         Clear
 10890                         Clear
 10891                         Clear
 10892                         Clear
 10893                         Clear
 10894                         Clear
 10895                         Clear
 10896                         Clear
 10897                         Clear
 10898                         Clear

 [10899 rows x 5 columns],
                      Time  Temp (F) Humidity Wind Speed  \
 0     2002-01-01 01:00:00      36.0       64        6.9
 1     2002-01-01 02:00:00      36.0       57        8.1
 2     2002-01-01 03:00:00      36.0       57        8.1
 3     2002-01-01 04:00:00      36.0       57        5.8
 4     2002-01-01 05:00:00      35.1       61        8.1
 5     2002-01-01 06:00:00      34.0       64        4.6
 6     2002-01-01 07:00:00      35.1       64        6.9
 7     2002-01-01 08:00:00      34.0       64        9.2
 8     2002-01-01 09:00:00      35.1       64        8.1
 9     2002-01-01 10:00:00      37.0       59       10.4
 10    2002-01-01 11:00:00      39.0       55        6.9
 11    2002-01-01 12:00:00      39.0       55        6.9
 12    2002-01-01 13:00:00      39.0       57        5.8
 13    2002-01-01 14:00:00      39.9       58       11.5
 14    2002-01-01 15:00:00      41.0       57        8.1
 15    2002-01-01 16:00:00      39.9       58       11.5
 16    2002-01-01 17:00:00      39.0       53        8.1
 17    2002-01-01 18:00:00      39.0       50        9.2
 18    2002-01-01 19:00:00      35.1       78       11.5
 19    2002-01-01 20:00:00      35.1       82       11.5
 20    2002-01-01 21:00:00      34.0       89       11.5
 21    2002-01-01 22:00:00      33.8       87        9.2
 22    2002-01-01 22:00:00      33.1       92       10.4
 23    2002-01-01 22:00:00      33.8       87        5.8
 24    2002-01-01 23:00:00      33.1       92        6.9
 25    2002-01-02 00:00:00      33.1       92        3.5
 26    2002-01-02 01:00:00      32.0       96        3.5
 27    2002-01-02 02:00:00      32.0       92        6.9
 28    2002-01-02 03:00:00      30.9       96        5.8
 29    2002-01-02 04:00:00      30.9       92        3.5
 ...                   ...       ...      ...        ...
 10869 2002-12-30 22:00:00      55.9       80        6.9
 10870 2002-12-30 23:00:00      57.9       84       10.4
 10871 2002-12-30 23:00:00      55.4       88       12.7
 10872 2002-12-31 00:00:00      55.4       88        9.2
 10873 2002-12-31 00:00:00      55.9       84       11.5
 10874 2002-12-31 01:00:00      55.4       77        9.2
 10875 2002-12-31 01:00:00      55.0       83        8.1
 10876 2002-12-31 02:00:00      51.1       68       11.5
 10877 2002-12-31 03:00:00      50.0       66       10.4
 10878 2002-12-31 04:00:00      48.9       64       10.4
 10879 2002-12-31 05:00:00      48.0       63       16.1
 10880 2002-12-31 06:00:00      48.0       61       12.7
 10881 2002-12-31 07:00:00      46.9       59        9.2
 10882 2002-12-31 08:00:00      46.9       56       10.4
 10883 2002-12-31 09:00:00      48.9       50       15.0
 10884 2002-12-31 10:00:00      52.0       41       11.5
 10885 2002-12-31 11:00:00      55.0       38       12.7
 10886 2002-12-31 12:00:00      59.0       32       10.4
 10887 2002-12-31 13:00:00      62.1       29       10.4
 10888 2002-12-31 14:00:00      64.0       23       13.8
 10889 2002-12-31 15:00:00      64.9       24        9.2
 10890 2002-12-31 16:00:00      64.0       24       10.4
 10891 2002-12-31 17:00:00      62.1       26        8.1
 10892 2002-12-31 18:00:00      57.9       32        4.6
 10893 2002-12-31 19:00:00      54.0       40        3.5
 10894 2002-12-31 20:00:00      51.1       44       Calm
 10895 2002-12-31 21:00:00      50.0       50        4.6
 10896 2002-12-31 22:00:00      46.0       63        3.5
 10897 2002-12-31 23:00:00      43.0       74       Calm
 10898 2003-01-01 00:00:00      43.0       71        3.5

                           Condition
 0                             Clear
 1                             Clear
 2                             Clear
 3                             Clear
 4                     Mostly Cloudy
 5                     Partly Cloudy
 6                          Overcast
 7                     Mostly Cloudy
 8                          Overcast
 9                          Overcast
 10                         Overcast
 11                         Overcast
 12                         Overcast
 13                         Overcast
 14                         Overcast
 15                         Overcast
 16                         Overcast
 17                         Overcast
 18                         Overcast
 19                         Overcast
 20                         Overcast
 21                         Overcast
 22                    Mostly Cloudy
 23                         Overcast
 24                         Overcast
 25                         Overcast
 26                         Overcast
 27                         Overcast
 28                            Clear
 29                    Partly Cloudy
 ...                             ...
 10869                      Overcast
 10870                    Light Rain
 10871  Light Thunderstorms and Rain
 10872                    Light Rain
 10873                 Mostly Cloudy
 10874                         Clear
 10875                 Partly Cloudy
 10876                         Clear
 10877              Scattered Clouds
 10878                         Clear
 10879                         Clear
 10880                         Clear
 10881                         Clear
 10882                         Clear
 10883                         Clear
 10884                         Clear
 10885                         Clear
 10886                         Clear
 10887                         Clear
 10888                         Clear
 10889                         Clear
 10890                         Clear
 10891                         Clear
 10892                         Clear
 10893                         Clear
 10894                         Clear
 10895                         Clear
 10896                         Clear
 10897                         Clear
 10898                         Clear

 [10899 rows x 5 columns])

In [58]:
Jan_to_Jul_all = pd.concat(all_months_1).reset_index(drop=True)
Jan_to_Jul = pd.concat(all_months_2).reset_index(drop=True)
Jan_to_Jul_all.to_csv('Jan_to_Jul_all_2015.csv')
Jan_to_Jul.to_csv('Jan_to_Jul_2015.csv')

In [70]:
l_1,l_2 = all_days('https://www.wunderground.com/history/airport/KAGC/2015/8/12/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=',2)

1 th day is done

In [131]:
all_Months_1

                     Time  Temp (F) Humidity Wind Speed         Condition
0     2014-01-01 01:00:00      39.9       68       Calm             Clear
1     2014-01-01 02:00:00      39.0       73       Calm             Clear
2     2014-01-01 03:00:00      39.0       70        3.5             Clear
3     2014-01-01 04:00:00      39.9       68       Calm  Scattered Clouds
4     2014-01-01 05:00:00      39.9       68        4.6             Clear
5     2014-01-01 06:00:00      39.9       68        3.5     Mostly Cloudy
6     2014-01-01 07:00:00      39.0       70       Calm             Clear
7     2014-01-01 08:00:00      39.0       70       Calm             Clear
8     2014-01-01 09:00:00      46.0       58        4.6             Clear
9     2014-01-01 10:00:00      52.0       59        6.9             Clear
10    2014-01-01 11:00:00      59.0       53        5.8             Clear
11    2014-01-01 12:00:00      61.0       54        4.6          Overcast
12    2014-01-01 13:00:00      64.0       52        6.9          Overcast
13    2014-01-01 14:00:00      66.9       52        6.9     Mostly Cloudy
14    2014-01-01 15:00:00      68.0       52        9.2  Scattered Clouds
15    2014-01-01 15:00:00      64.9       58        9.2          Overcast
16    2014-01-01 16:00:00      64.9       58        6.9          Overcast
17    2014-01-01 16:00:00      66.0       59        5.8     Mostly Cloudy
18    2014-01-01 17:00:00      64.4       59        8.1          Overcast
19    2014-01-01 17:00:00      64.0       60        5.8          Overcast
20    2014-01-01 18:00:00      59.0       67        6.9             Clear
21    2014-01-01 19:00:00      57.0       72        3.5     Mostly Cloudy
22    2014-01-01 20:00:00      57.9       67       Calm          Overcast
23    2014-01-01 21:00:00      57.0       74       Calm  Scattered Clouds
24    2014-01-01 21:00:00      55.9       75        3.5             Clear
25    2014-01-01 22:00:00      55.0       80       Calm             Clear
26    2014-01-01 23:00:00      52.0       83       Calm             Clear
27    2014-01-02 00:00:00      54.0       83        5.8             Clear
28    2014-01-02 01:00:00      54.0       57        9.2     Partly Cloudy
29    2014-01-02 01:00:00      53.1       55        9.2     Mostly Cloudy
...                   ...       ...      ...        ...               ...
11192 2014-12-30 20:00:00      41.0       76        6.9          Overcast
11193 2014-12-30 20:00:00      41.0       73        5.8          Overcast
11194 2014-12-30 21:00:00      41.0       73        6.9          Overcast
11195 2014-12-30 22:00:00      39.9       77        4.6          Overcast
11196 2014-12-30 23:00:00      39.9       73        8.1          Overcast
11197 2014-12-31 00:00:00      39.0       76        5.8          Overcast
11198 2014-12-31 01:00:00      39.0       73        4.6          Overcast
11199 2014-12-31 02:00:00      39.9       70        8.1          Overcast
11200 2014-12-31 03:00:00      41.0       65        5.8          Overcast
11201 2014-12-31 04:00:00      41.0       67        6.9          Overcast
11202 2014-12-31 05:00:00      39.9       70        6.9          Overcast
11203 2014-12-31 06:00:00      37.9       73        6.9          Overcast
11204 2014-12-31 07:00:00      37.0       73        9.2          Overcast
11205 2014-12-31 08:00:00      36.0       73        8.1          Overcast
11206 2014-12-31 09:00:00      37.0       70       10.4          Overcast
11207 2014-12-31 10:00:00      37.0       70       10.4          Overcast
11208 2014-12-31 11:00:00      36.0       70        9.2          Overcast
11209 2014-12-31 12:00:00      37.9       70       10.4          Overcast
11210 2014-12-31 13:00:00      39.0       67       10.4          Overcast
11211 2014-12-31 14:00:00      39.0       67        9.2          Overcast
11212 2014-12-31 15:00:00      39.9       65        9.2          Overcast
11213 2014-12-31 16:00:00      39.9       68        6.9          Overcast
11214 2014-12-31 17:00:00      39.9       68        4.6          Overcast
11215 2014-12-31 18:00:00      39.0       70       10.4          Overcast
11216 2014-12-31 19:00:00      39.0       70       10.4          Overcast
11217 2014-12-31 20:00:00      39.0       70        9.2          Overcast
11218 2014-12-31 21:00:00      39.0       70        6.9          Overcast
11219 2014-12-31 22:00:00      37.9       73        6.9          Overcast
11220 2014-12-31 23:00:00      39.0       67        6.9          Overcast
11221 2015-01-01 00:00:00      39.0       67        5.8          Overcast

[11222 rows x 5 columns]

In [187]:
list1, list2 = all_day('https://www.wunderground.com/history/airport/KATT/2016/2/1/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=',29)

1 th day is done
2 th day is done
3 th day is done
4 th day is done
5 th day is done
6 th day is done
7 th day is done
8 th day is done
9 th day is done
10 th day is done
11 th day is done
12 th day is done
13 th day is done
14 th day is done
15 th day is done
16 th day is done
17 th day is done
18 th day is done
19 th day is done
20 th day is done
21 th day is done
22 th day is done
23 th day is done
24 th day is done
25 th day is done
26 th day is done
27 th day is done
28 th day is done

In [188]:
list2

                   Time  Temp (F)    Humidity
0   2016-02-01 01:00:00     60.10   49.000000
1   2016-02-01 02:00:00     57.00   55.000000
2   2016-02-01 03:00:00     55.90   57.000000
3   2016-02-01 04:00:00     55.95   72.250000
4   2016-02-01 05:00:00     55.90   97.000000
5   2016-02-01 06:00:00     55.90   97.000000
6   2016-02-01 07:00:00     56.45  100.000000
7   2016-02-01 08:00:00     57.00  100.000000
8   2016-02-01 09:00:00     58.45   98.000000
9   2016-02-01 10:00:00     62.55   85.000000
10  2016-02-01 11:00:00     65.90   75.500000
11  2016-02-01 12:00:00     68.55   69.000000
12  2016-02-01 13:00:00     69.70   65.333333
13  2016-02-01 14:00:00     72.00   61.000000
14  2016-02-01 15:00:00     73.90   59.000000
15  2016-02-01 16:00:00     75.90   56.000000
16  2016-02-01 17:00:00     75.90   50.000000
17  2016-02-01 18:00:00     73.90   52.000000
18  2016-02-01 19:00:00     71.10   61.000000
19  2016-02-01 20:00:00     68.00   78.000000
20  2016-02-01 21:00:00     66.00   84.000000
21  2016-02-01 22:00:00     64.90   87.000000
22  2016-02-01 23:00:00     66.30   81.333333
23  2016-02-02 00:00:00     66.30   38.666667
24  2016-02-02 01:00:00     64.00   34.500000
25  2016-02-02 02:00:00     63.00   28.500000
26  2016-02-02 03:00:00     60.10   30.000000
27  2016-02-02 04:00:00     59.00   28.000000
28  2016-02-02 05:00:00     57.90   27.000000
29  2016-02-02 06:00:00     55.90   28.000000
..                  ...       ...         ...
668 2016-02-28 20:00:00     70.00   61.000000
669 2016-02-28 21:00:00     68.00   68.000000
670 2016-02-28 22:00:00     66.00   75.000000
671 2016-02-28 23:00:00     63.50   83.500000
672 2016-02-29 00:00:00     63.00   87.000000
673 2016-02-29 00:00:00     63.00   87.000000
674 2016-02-29 01:00:00     63.00   87.000000
675 2016-02-29 02:00:00     63.00   87.000000
676 2016-02-29 03:00:00     63.00   87.000000
677 2016-02-29 04:00:00     63.00   87.000000
678 2016-02-29 05:00:00     63.00   87.000000
679 2016-02-29 06:00:00     63.00   87.000000
680 2016-02-29 07:00:00     63.00   90.000000
681 2016-02-29 08:00:00     63.00   90.000000
682 2016-02-29 09:00:00     64.30   86.000000
683 2016-02-29 10:00:00     66.00   84.000000
684 2016-02-29 11:00:00     70.70   70.666667
685 2016-02-29 12:00:00     71.70   68.000000
686 2016-02-29 13:00:00     73.90   62.000000
687 2016-02-29 14:00:00     75.90   52.000000
688 2016-02-29 15:00:00     75.90   54.000000
689 2016-02-29 16:00:00     75.90   54.000000
690 2016-02-29 17:00:00     77.00   52.000000
691 2016-02-29 18:00:00     75.00   55.000000
692 2016-02-29 19:00:00     73.00   61.000000
693 2016-02-29 20:00:00     72.00   61.000000
694 2016-02-29 21:00:00     69.10   73.000000
695 2016-02-29 22:00:00     68.00   76.000000
696 2016-02-29 23:00:00     66.30   83.000000
697 2016-03-01 00:00:00     66.00   84.000000

[698 rows x 3 columns]

In [189]:
#list2.to_csv('Dec 2017.csv')
list1.to_csv('Feb 2016_all.csv')

In [227]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
years = [2016, 2017]
all_years_1 = []
all_years_2 = []
for month in months:
    for year in years:
        one = pd.read_csv(str(month)+' '+str(year)+'.csv', sep=',', delimiter=None, header='infer')
        two = pd.read_csv(str(month)+' '+str(year)+'_all.csv', sep=',', delimiter=None, header='infer')
        all_years_1.append(one)
        all_years_2.append(two)
Weather_data_one = pd.concat(all_years_1).reset_index()
#Weather_data_one = Weather_data_one.drop(['index', 'Unnamed: 0'], axis=1)
Weather_data_two = pd.concat(all_years_2).reset_index()
#Weather_data_two = Weather_data_two.drop(['index', 'Unnamed: 0'], axis=1)

In [30]:
#Weather_data_one['Time'] = Weather_data_one['Time'].apply(lambda x: pd.to_datetime(x))
# Weather_data_one = Weather_data_one.drop(['index', 'Unnamed: 0'], axis=1)
# Weather_data_two = Weather_data_two.drop(['index', 'Unnamed: 0'], axis=1)
Weather_data_one.to_csv('Weather data.csv')
Weather_data_two.to_csv('Weather data All.csv')

NameError: name 'Weather_data_one' is not defined

In [248]:
X = df_2015_1
X

,Time,Temp (F),Humidity,Wind Speed,Condition
0,2015-01-01 01:00:00,37.9,76.0,Calm,Overcast
1,2015-01-01 02:00:00,37.9,70.0,4.6,Overcast
2,2015-01-01 03:00:00,37.0,73.0,4.6,Overcast
3,2015-01-01 04:00:00,37.0,73.0,4.6,Overcast
4,2015-01-01 05:00:00,35.1,92.0,6.9,Light Thunderstorms and Rain
5,2015-01-01 05:00:00,35.1,92.0,4.6,Rain
6,2015-01-01 05:00:00,34.0,96.0,4.6,Heavy Rain
7,2015-01-01 05:00:00,34.0,96.0,4.6,Heavy Thunderstorms and Rain
8,2015-01-01 06:00:00,34.0,96.0,5.8,Rain
9,2015-01-01 06:00:00,34.0,100.0,3.5,Rain
10,2015-01-01 06:00:00,34.0,96.0,4.6,Rain
11,2015-01-01 06:00:00,34.0,96.0,3.5,Rain
12,2015-01-01 06:00:00,34.0,100.0,Calm,Rain
13,2015-01-01 07:00:00,34.0,96.0,Calm,Light Rain
14,2015-01-01 07:00:00,35.1,96.0,3.5,Light Rain
15,2015-01-01 07:00:00,34.0,96.0,4.6,Light Rain
16,2015-01-01 08:00:00,35.1,92.0,3.5,Overcast
17,2015-01-01 08:00:00,35.1,92.0,5.8,Light Thunderstorms and Rain
18,2015-01-01 08:00:00,35.1,92.0,3.5,Light Rain
19,2015-01-01 08:00:00,35.1,96.0,4.6,Overcast
20,2015-01-01 09:00:00,35.6,93.0,5.8,Overcast
21,2015-01-01 09:00:00,35.1,92.0,5.8,Overcast
22,2015-01-01 10:00:00,35.1,96.0,5.8,Overcast
23,2015-01-01 11:00:00,36.0,97.0,6.9,Overcast
24,2015-01-01 11:00:00,36.0,93.0,5.8,Overcast
25,2015-01-01 12:00:00,36.0,97.0,4.6,Overcast
26,2015-01-01 12:00:00,36.0,97.0,6.9,Overcast
27,2015-01-01 12:00:00,36.0,97.0,4.6,Overcast
28,2015-01-01 12:00:00,37.0,93.0,8.1,Overcast
29,2015-01-01 13:00:00,37.0,93.0,6.9,Overcast
...,...,...,...,...,...
7298,2015-07-30 19:00:00,97.0,31.0,Calm,Clear
7299,2015-07-30 20:00:00,95.0,34.0,5.8,Clear
7300,2015-07-30 21:00:00,91.9,38.0,3.5,Clear
7301,2015-07-30 22:00:00,91.0,41.0,Calm,Clear
7302,2015-07-30 23:00:00,88.0,48.0,Calm,Clear
7303,2015-07-31 00:00:00,84.9,55.0,Calm,Mostly Cloudy
7304,2015-07-31 01:00:00,84.9,57.0,Calm,Clear
7305,2015-07-31 02:00:00,81.0,67.0,Calm,Clear
7306,2015-07-31 03:00:00,80.1,71.0,Calm,Partly Cloudy
7307,2015-07-31 04:00:00,81.0,65.0,Calm,Clear
7308,2015-07-31 05:00:00,82.0,65.0,Calm,Clear
7309,2015-07-31 06:00:00,81.0,67.0,Calm,Clear
7310,2015-07-31 07:00:00,80.1,69.0,Calm,Clear
7311,2015-07-31 08:00:00,80.1,67.0,Calm,Clear
7312,2015-07-31 09:00:00,84.0,61.0,5.8,Clear
7313,2015-07-31 10:00:00,89.1,53.0,Calm,Mostly Cloudy
7314,2015-07-31 11:00:00,93.9,43.0,3.5,Partly Cloudy
7315,2015-07-31 12:00:00,98.1,36.0,8.1,Clear
7316,2015-07-31 13:00:00,99.0,36.0,8.1,Clear
7317,2015-07-31 14:00:00,100.9,34.0,6.9,Clear
7318,2015-07-31 15:00:00,99.0,38.0,6.9,Partly Cloudy
7319,2015-07-31 16:00:00,99.0,38.0,5.8,Partly Cloudy
7320,2015-07-31 17:00:00,100.9,34.0,6.9,Partly Cloudy
7321,2015-07-31 18:00:00,98.1,37.0,4.6,Clear
7322,2015-07-31 19:00:00,96.1,41.0,6.9,Clear
7323,2015-07-31 20:00:00,93.9,43.0,8.1,Clear
7324,2015-07-31 21:00:00,93.0,45.0,\r\n -\r\n,Clear
7325,2015-07-31 22:00:00,91.0,48.0,4.6,Clear
7326,2015-07-31 23:00:00,90.0,46.0,3.5,Mostly Cloudy
7327,2015-08-01 00:00:00,88.0,42.0,5.8,Partly Cloudy

In [249]:
y = X.Condition.unique().tolist()
y = sorted(y)
X['Condition'] = X['Condition'].apply(lambda x: y.index(x))
# y2=[]
# for i in range(len(X)):
    
#     try:
#         X['Wind Speed'][i]=float(X['Wind Speed'][i])
#     except:
#         X['Wind Speed'][i]=X['Wind Speed'][i]
# for x in X['Wind Speed']:
#     if type(x)==str:
#         y2.append(x)
# y2
def t_or_e(x):
    try:
        return float(x)
    except:
        if x=='Calm':
            return 3.0
        else:
            return 4.5
X['Wind Speed'] = X['Wind Speed'].apply(lambda x: t_or_e(x))

In [250]:
X['Time'] = X['Time'].apply(lambda x: pd.to_datetime(x))
X.dtypes

Time          datetime64[ns]
Temp (F)             float64
Humidity             float64
Wind Speed           float64
Condition              int64
dtype: object

In [251]:
X['Humidity'] = X['Humidity'].astype('float64')
#X['Humidity'] = X['Humidity'].apply(lambda x: x/100)
X['Humidity'] = X['Humidity'].apply(lambda x: x/100)

#X.to_csv('Final Data.csv')
X = X.set_index('Time', drop=True).resample('H').mean().reset_index()

In [253]:
X.to_csv('2015_1.csv')

In [252]:
X

                    Time    Temp (F)  Humidity  Wind Speed  Condition
0    2015-01-01 01:00:00   37.900000    0.7600    3.000000  10.000000
1    2015-01-01 02:00:00   37.900000    0.7000    4.600000  10.000000
2    2015-01-01 03:00:00   37.000000    0.7300    4.600000  10.000000
3    2015-01-01 04:00:00   37.000000    0.7300    4.600000  10.000000
4    2015-01-01 05:00:00   34.550000    0.9400    5.175000   6.500000
5    2015-01-01 06:00:00   34.000000    0.9760    4.080000  12.000000
6    2015-01-01 07:00:00   34.366667    0.9600    3.700000   6.000000
7    2015-01-01 08:00:00   35.100000    0.9300    4.350000   8.250000
8    2015-01-01 09:00:00   35.350000    0.9250    5.800000  10.000000
9    2015-01-01 10:00:00   35.100000    0.9600    5.800000  10.000000
10   2015-01-01 11:00:00   36.000000    0.9500    6.350000  10.000000
11   2015-01-01 12:00:00   36.250000    0.9600    6.050000  10.000000
12   2015-01-01 13:00:00   37.000000    0.9525    6.050000   8.000000
13   2015-01-01 14:00:00   37.450000    0.9650    5.750000   8.000000
14   2015-01-01 15:00:00   37.900000    0.9700    4.466667   8.666667
15   2015-01-01 16:00:00   39.000000    0.9300    5.800000  10.000000
16   2015-01-01 17:00:00   39.000000    0.9450    5.200000  10.000000
17   2015-01-01 18:00:00   39.000000    0.9600    4.650000  10.000000
18   2015-01-01 19:00:00   39.000000    0.9600    6.900000   6.000000
19   2015-01-01 20:00:00   39.000000    0.9600    4.600000  10.000000
20   2015-01-01 21:00:00   39.000000    0.9600    4.600000  10.000000
21   2015-01-01 22:00:00   39.000000    0.9600    4.925000  10.000000
22   2015-01-01 23:00:00   39.000000    0.9600    4.600000  10.000000
23   2015-01-02 00:00:00   39.900000    0.9700    5.800000  10.000000
24   2015-01-02 01:00:00   39.900000    0.9700    3.800000  10.000000
25   2015-01-02 02:00:00   38.780000    0.9700    5.540000   7.600000
26   2015-01-02 03:00:00   37.900000    0.9700    5.200000   8.000000
27   2015-01-02 04:00:00   39.000000    0.9300    5.800000  10.000000
28   2015-01-02 05:00:00   39.000000    0.9600    3.800000  10.000000
29   2015-01-02 06:00:00   39.000000    0.9600    4.600000  10.000000
...                  ...         ...       ...         ...        ...
5058 2015-07-30 19:00:00   97.000000    0.3100    3.000000   0.000000
5059 2015-07-30 20:00:00   95.000000    0.3400    5.800000   0.000000
5060 2015-07-30 21:00:00   91.900000    0.3800    3.500000   0.000000
5061 2015-07-30 22:00:00   91.000000    0.4100    3.000000   0.000000
5062 2015-07-30 23:00:00   88.000000    0.4800    3.000000   0.000000
5063 2015-07-31 00:00:00   84.900000    0.5500    3.000000   9.000000
5064 2015-07-31 01:00:00   84.900000    0.5700    3.000000   0.000000
5065 2015-07-31 02:00:00   81.000000    0.6700    3.000000   0.000000
5066 2015-07-31 03:00:00   80.100000    0.7100    3.000000  11.000000
5067 2015-07-31 04:00:00   81.000000    0.6500    3.000000   0.000000
5068 2015-07-31 05:00:00   82.000000    0.6500    3.000000   0.000000
5069 2015-07-31 06:00:00   81.000000    0.6700    3.000000   0.000000
5070 2015-07-31 07:00:00   80.100000    0.6900    3.000000   0.000000
5071 2015-07-31 08:00:00   80.100000    0.6700    3.000000   0.000000
5072 2015-07-31 09:00:00   84.000000    0.6100    5.800000   0.000000
5073 2015-07-31 10:00:00   89.100000    0.5300    3.000000   9.000000
5074 2015-07-31 11:00:00   93.900000    0.4300    3.500000  11.000000
5075 2015-07-31 12:00:00   98.100000    0.3600    8.100000   0.000000
5076 2015-07-31 13:00:00   99.000000    0.3600    8.100000   0.000000
5077 2015-07-31 14:00:00  100.900000    0.3400    6.900000   0.000000
5078 2015-07-31 15:00:00   99.000000    0.3800    6.900000  11.000000
5079 2015-07-31 16:00:00   99.000000    0.3800    5.800000  11.000000
5080 2015-07-31 17:00:00  100.900000    0.3400    6.900000  11.000000
5081 2015-07-31 18:00:00   98.100000    0.3700    4.600000   0.000000
5082 2015-07-31 19:00:00   96.100000    0.4100    6.900000   0.000000
5083 2015-07-31 20:00:00   93.900000    0.4300    8.100000   0.000000
5084 2015-07-31 21:00:00   93.000000    0.4500    4.500000   0.000000
5085 2015-07-31 22:00:00   91.000000    0.4800    4.600000   0.000000
5086 2015-07-31 23:00:00   90.000000    0.4600    3.500000   9.000000
5087 2015-08-01 00:00:00   88.000000    0.4200    5.800000  11.000000

[5088 rows x 5 columns]

In [254]:
df_2002 = pd.read_csv('2002_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2003 = pd.read_csv('2003_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2004 = pd.read_csv('2004_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2005 = pd.read_csv('2005_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2006 = pd.read_csv('2006_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2007 = pd.read_csv('2007_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2008 = pd.read_csv('2008_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2009 = pd.read_csv('2009_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2010 = pd.read_csv('2010_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2011 = pd.read_csv('2011_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2012 = pd.read_csv('2012_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2013 = pd.read_csv('2013_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2014 = pd.read_csv('2014_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2015_1 = pd.read_csv('2015_1.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2015_2 = pd.read_csv('Aug_to_Dec_2015_all.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)
df_2016_17 = pd.read_csv('Final Data.csv', sep=',', delimiter=None, header='infer').drop('Unnamed: 0', axis=1)

In [255]:
df_weather=[]
df_weather.append(df_2002)
df_weather.append(df_2003)
df_weather.append(df_2004)
df_weather.append(df_2005)
df_weather.append(df_2006)
df_weather.append(df_2007)
df_weather.append(df_2008)
df_weather.append(df_2009)
df_weather.append(df_2010)
df_weather.append(df_2011)
df_weather.append(df_2012)
df_weather.append(df_2013)
df_weather.append(df_2014)
df_weather.append(df_2015_1)
df_weather.append(df_2015_2)
df_weather.append(df_2016_17)

In [259]:
Weather_Data = pd.concat(df_weather).reset_index(drop=True)
try:
    Weather_Data['Condition'] = Weather_Data['Condition'].astype('int64')
except:
    pass
Weather_Data.to_csv('Weather Data.csv')

In [256]:
df_2015_1

                     Time    Temp (F)  Humidity  Wind Speed  Condition
0     2015-01-01 01:00:00   37.900000    0.7600    3.000000  10.000000
1     2015-01-01 02:00:00   37.900000    0.7000    4.600000  10.000000
2     2015-01-01 03:00:00   37.000000    0.7300    4.600000  10.000000
3     2015-01-01 04:00:00   37.000000    0.7300    4.600000  10.000000
4     2015-01-01 05:00:00   34.550000    0.9400    5.175000   6.500000
5     2015-01-01 06:00:00   34.000000    0.9760    4.080000  12.000000
6     2015-01-01 07:00:00   34.366667    0.9600    3.700000   6.000000
7     2015-01-01 08:00:00   35.100000    0.9300    4.350000   8.250000
8     2015-01-01 09:00:00   35.350000    0.9250    5.800000  10.000000
9     2015-01-01 10:00:00   35.100000    0.9600    5.800000  10.000000
10    2015-01-01 11:00:00   36.000000    0.9500    6.350000  10.000000
11    2015-01-01 12:00:00   36.250000    0.9600    6.050000  10.000000
12    2015-01-01 13:00:00   37.000000    0.9525    6.050000   8.000000
13    2015-01-01 14:00:00   37.450000    0.9650    5.750000   8.000000
14    2015-01-01 15:00:00   37.900000    0.9700    4.466667   8.666667
15    2015-01-01 16:00:00   39.000000    0.9300    5.800000  10.000000
16    2015-01-01 17:00:00   39.000000    0.9450    5.200000  10.000000
17    2015-01-01 18:00:00   39.000000    0.9600    4.650000  10.000000
18    2015-01-01 19:00:00   39.000000    0.9600    6.900000   6.000000
19    2015-01-01 20:00:00   39.000000    0.9600    4.600000  10.000000
20    2015-01-01 21:00:00   39.000000    0.9600    4.600000  10.000000
21    2015-01-01 22:00:00   39.000000    0.9600    4.925000  10.000000
22    2015-01-01 23:00:00   39.000000    0.9600    4.600000  10.000000
23    2015-01-02 00:00:00   39.900000    0.9700    5.800000  10.000000
24    2015-01-02 01:00:00   39.900000    0.9700    3.800000  10.000000
25    2015-01-02 02:00:00   38.780000    0.9700    5.540000   7.600000
26    2015-01-02 03:00:00   37.900000    0.9700    5.200000   8.000000
27    2015-01-02 04:00:00   39.000000    0.9300    5.800000  10.000000
28    2015-01-02 05:00:00   39.000000    0.9600    3.800000  10.000000
29    2015-01-02 06:00:00   39.000000    0.9600    4.600000  10.000000
...                   ...         ...       ...         ...        ...
5058  2015-07-30 19:00:00   97.000000    0.3100    3.000000   0.000000
5059  2015-07-30 20:00:00   95.000000    0.3400    5.800000   0.000000
5060  2015-07-30 21:00:00   91.900000    0.3800    3.500000   0.000000
5061  2015-07-30 22:00:00   91.000000    0.4100    3.000000   0.000000
5062  2015-07-30 23:00:00   88.000000    0.4800    3.000000   0.000000
5063  2015-07-31 00:00:00   84.900000    0.5500    3.000000   9.000000
5064  2015-07-31 01:00:00   84.900000    0.5700    3.000000   0.000000
5065  2015-07-31 02:00:00   81.000000    0.6700    3.000000   0.000000
5066  2015-07-31 03:00:00   80.100000    0.7100    3.000000  11.000000
5067  2015-07-31 04:00:00   81.000000    0.6500    3.000000   0.000000
5068  2015-07-31 05:00:00   82.000000    0.6500    3.000000   0.000000
5069  2015-07-31 06:00:00   81.000000    0.6700    3.000000   0.000000
5070  2015-07-31 07:00:00   80.100000    0.6900    3.000000   0.000000
5071  2015-07-31 08:00:00   80.100000    0.6700    3.000000   0.000000
5072  2015-07-31 09:00:00   84.000000    0.6100    5.800000   0.000000
5073  2015-07-31 10:00:00   89.100000    0.5300    3.000000   9.000000
5074  2015-07-31 11:00:00   93.900000    0.4300    3.500000  11.000000
5075  2015-07-31 12:00:00   98.100000    0.3600    8.100000   0.000000
5076  2015-07-31 13:00:00   99.000000    0.3600    8.100000   0.000000
5077  2015-07-31 14:00:00  100.900000    0.3400    6.900000   0.000000
5078  2015-07-31 15:00:00   99.000000    0.3800    6.900000  11.000000
5079  2015-07-31 16:00:00   99.000000    0.3800    5.800000  11.000000
5080  2015-07-31 17:00:00  100.900000    0.3400    6.900000  11.000000
5081  2015-07-31 18:00:00   98.100000    0.3700    4.600000   0.000000
5082  2015-07-31 19:00:00   96.100000    0.4100    6.900000   0.000000
5083  2015-07-31 20:00:00   93.900000    0.4300    8.100000   0.000000
5084  2015-07-31 21:00:00   93.000000    0.4500    4.500000   0.000000
5085  2015-07-31 22:00:00   91.000000    0.4800    4.600000   0.000000
5086  2015-07-31 23:00:00   90.000000    0.4600    3.500000   9.000000
5087  2015-08-01 00:00:00   88.000000    0.4200    5.800000  11.000000

[5088 rows x 5 columns]